<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <h2>PORT<span>FOLIO</span></h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav  me-auto mb-2 mb-lg-0 left">
          <a>Education</a>
          <a>Certifications</a>
          <a>Internships</a>
          <a>Projects</a>
          <a>Languages</a>
        </div>
        <div class="d-flex right">
            <a>Contact Us</a>
        </div>
      </div>
    </div>
</nav>
