.container-fluid{
    background-color: rgb(255, 255, 255,0.9);
    gap:40px;
    display: flex;
    align-items: center;
    // border: 2px solid whitesmoke;
    padding:15px;
    margin:0px 20px;

}
nav{
    background-color: rgb(255, 255, 255);

}
span{
    color: rgb(168, 45, 156);
    border: 2px solid rgb(169, 105, 162);
    padding: 2px;
}
.navbar-nav{
  gap:20px;
  font-size: medium;
}
.right>a{
    background-color: rgb(168, 45, 156);
    border-radius: 20px;
    padding: 10px;
    color: white;
   
}
.right>a:hover{
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
    color: black;
    border:rgb(168, 45, 156) solid 2px;
   
}
.left>a{
    border-radius:10px;
    padding: 3px 5px;
    border:rgb(168, 45, 156) solid 2px;
}
.left>a:hover{
    background-color: rgb(168, 45, 156);
    color:white;
    cursor: pointer;
}

.navbar {
    background-color: transparent;
  }

.form{
    display: flex;
    flex-direction: column;
}
input,textarea{
    margin-bottom: 10px;
    border-radius: 5px;
}
textarea,input{
    border:1px black solid
}
button{
    width:100px;
    border-radius: 10px;
    height: 40px;
    margin-top: 5px;
}
label{
    color:black;
    margin-bottom:5px;
}
input{
    height: 40px;
}