<div class="container">
    <div class="image">
     <h2>INTERNSHIPS</h2>
     <img src="/assets/internship.png" alt="" class="image-transition">
    </div>
   <div class="internship" >
    <p-fieldset legend=" INTERNSHIP - {{internship.id}}" [toggleable]="true" *ngFor="let internship of Internships">
        <p *ngFor="let key of internshipKeys">
           <span>
            {{key|uppercase}}:
           </span>
           {{internship[key]}}
        </p>
    </p-fieldset>
   </div>
 </div>
 
