.container{
    margin-top:80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: center;
   
 }
 img{
     height: 400px;
     width: 400px;
     border-radius: 20px
 }
 h2{
 
     font-size: 40px;
     color: rgb(168, 45, 156);
 
 }
.certificate::ng-deep .p-card{
    width:400px;
    margin: 20px 0px;
}
::ng-deep .p-card:hover{
    box-shadow: 5px 5px 10px rgba(168, 45, 156, 0.5);
}
::ng-deep .p-card-title{
    color: rgb(168, 45, 156);
}
